<a href="/">Voltar</a>
<h2>Adicione uma nota</h2>


<form method="POST" action="/notes/create">
        <div class="mb-3">
            <label for="inputPassword6" class="col-form-label">Título:</label>
            <input type="text" name="title" class="form-control">
        </div>
         <div class="mb-3">
            <label for="inputPassword6" class="col-form-label">Descrição:</label>
            <textarea name="description" class="form-control" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Criar nota</button>
</form>